.logo{
display: block;
padding-top: 16px;
padding-bottom: 16px;
color: var(--logo-text-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
}
.logo__name {
    color: var(--accent-color);
}

// .logo {
//     display: block;
//     padding-top: 24px;
//     padding-bottom: 25px;
//     color: var(--logo-text-color);
//     font-family: Raleway, sans-serif;
//     font-weight: 700;
//     font-size: 26px;
//     line-height: 1.19;
// }

// .logo__name {
//     color: var(--accent-color);
// }