:root {
    --primary-font-family: Roboto, sans-serif;
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --white-color: #ffffff;
    --logo-text-color: #000000;
    --secodary-background-color: #f5f4fa;
    --footer-background-color: #2f303a;
    --hero-background-color: #2f303a;
    --button-accent-color: #188ce8;
    --border-color-header: #ececec;
    --border-color: #eeeeee;
    --icon-color: #afb1b8;
    --background-color-backdrop: rgba(0, 0, 0, 0.2);
    --background-color-card: rgba(47, 48, 58, 0.8);
}